# filename: .gitignore
# author: Christian Blank (https://github.com/Cyneric)
# created date: 2024-11-08
# description: Git ignore file for Addarr Refresh Telegram Bot.

.vscode/
__pycache__/

*.code-workspace
*.log
config.yaml
logs/
env/
venv/
.idea/
config.yaml_
.venv/
backup/
settings.local.json
